.Button {
    padding: 10px 10px;
    max-width: 180px;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.Button .page-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.Button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}