.UrlMain {
    max-width: 1100px;
    margin: 0 auto;
}

.UrlMain .menu {
    padding: 10px 0;
}

.UrlMain .searchBar {
    padding-bottom: 10px;
}

.UrlMain .search-results {
    display: flex;
}

.UrlMain .video-player {
    width: 700px;
}

.UrlMain .title {
    font-weight: bold;
    font-size: 20px;
}

.UrlMain .error {
    color: red;
}