.SearchMain {
    max-width: 1100px;
    margin: 0 auto;
}

.SearchMain .menu {
    padding: 10px 0;
}

.SearchMain .searchBar {
    padding-bottom: 10px;
}

.SearchMain .search-results {
    display: flex;
}

.SearchMain .video-player {
    width: 700px;
}

.SearchMain .title {
    font-weight: bold;
    font-size: 20px;
}