.PageNav {
    max-width: 1100px;
    margin: 0 auto;
}

.PageNav .header {
    padding-bottom: 50px;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.PageNav .links {
    display: flex;
    justify-content: space-around;
}

.PageNav .page-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.PageNav .button {
    padding: 10px 10px;
    max-width: 200px;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}

.PageNav .button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}